@import "others/modified-elements.less"; //https://github.com/Oreolek/elements (better with namespace) also add my own
@import "ma-project/template-mixin.less";
@import "ma-project/colorcode.less";
//@import (less) "animate-custom.css"; use it if needed https://daneden.me/animate/

html[data-useragent*='MSIE 10.0'] {} //sample css to target ie10; must add the javascript part to work

h1,h2,h3,h4,h5,h6{ -webkit-font-smoothing: subpixel-antialiased; -webkit-text-stroke: 0.15px; }

//**********************************************************************************************//
// VARIABLES.
//**********************************************************************************************//
@full-browser-width: 100%;
@full-browser-height: 100%;
@viewport-width: 100%;
@working-width: 930px;
@template-base-color: #282828; //new

//**********************************************************************************************//
// OTHER MISC CSS
//**********************************************************************************************//
.whatcolor-text { color: #888888; }





//**********************************************************************************************//
// CONTAINER LAYOUT FULL OR SPECIFIED, ALSO IT CAN BE MADE FIXED FOOTER IF NEEDED.
//**********************************************************************************************//
html, body { height:100%; }
#browser-wrapper, #main-wrapper, #viewport-wrapper { #wrap > .relative; }
#browser-wrapper{
    width          : @full-browser-width;
    min-width      : @full-browser-width;
    height         : @full-browser-height;
    min-height     : @full-browser-height;
    margin         : 0 auto;
}
#main-wrapper{
    width          : @full-browser-width;
    min-width      : @full-browser-width;
    height         : auto !important;
    height         : @full-browser-height;
    min-height     : @full-browser-height;
    overflow       : hidden;
    margin         : 0 auto;
    .oilpaper();
}
#viewport-wrapper{
    width          : @viewport-width;
    height         : auto;
    margin         : 0 auto;
    padding-bottom : 0; //modify - optional if you need fixed footer (must match the footer height)
}


//**********************************************************************************************//
// COMPANY LOGO. need to improve with .ir technique
//**********************************************************************************************//
#COMPANYNAME-company-logo
{
    #wrap > .relative;
    line-height:0;
    width:277px;
    height:73px;
    margin-left:-12px;
    float: left;
}
h1#company{
    #wrap > .relative(inline-block);
    line-height:0;
    text-indent:-99999px;
    a
    {
        #wrap > .relative(inline-block);
        line-height:0;
        font-size:1.2em;
    }
}
div#company-logo{
    #wrap > .relative;
    width:277px;
    height:73px;
    background:transparent url(../images/logo.png) no-repeat center center scroll;
    top:0;
}


//**********************************************************************************************//
// START COMPANYNAME BODY STRUCTURE.
//**********************************************************************************************//
#COMPANYNAME-header-wrp
{
    #wrap > .relative;
    width:100%;
    height:155px;
    margin: 0px auto;
}

#COMPANYNAME-header
{
    #wrap > .relative;
    width:@working-width;
    height: auto; //modify - optional
    margin:0 auto;
    padding-top:19px;
}

#COMPANYNAME-body-wrp
{
    #wrap > .relative;
    width:100%;
    height:auto;
    margin: 0px auto;
}

#COMPANYNAME-body
{
    #wrap > .relative;
    width:@working-width;
    height:auto; //modify - optional
    margin:0 auto;
}

#COMPANYNAME-footer-wrp
{
    #wrap > .absolute;
    width:100%;
    height:auto;
    bottom:0;
}

#COMPANYNAME-footer
{
    #wrap > .relative;
    width:@working-width;
    height:30px;//modify - optional
    margin:0 auto;
}


