<div class="group">
    <table class="doc-table-shortcode">
        <tr>
            <td rowspan="2"><h3>PACS Accordion</h3></td>
            <td><span>Type</span></td>
            <td><span>Description</span></td>
        </tr>
        <tr>
            <td><em>Multi Enclosed Content</em></td>
            <td><em>This shortcode builds an accordion list.</em></td>
        </tr>
    </table>
    <br>
    <h4>shortcode</h4>
    <pre class="prettyprint linenums">[pacs_accordion] ... [/pacs_accordion]</pre>
    <h4>parameters</h4>
    <table class="table doc-table-parameter">
        <tr>
            <th class="attribute"><span>Attribute</span></th>
            <th class="value"><span>Value</span></th>
            <th class="description"><span>Description</span></th>
        </tr>
        <tr>
            <td class="attribute"><span>-</span></td>
            <td class="value"><span>-</span></td>
            <td class="description">This is a base component (must have to work properly)</td>
        </tr>
    </table>
    <h4>shortcode</h4>
    <pre class="prettyprint linenums">[pacs_accordion_item title=""] content [/pacs_accordion_item]<br></pre>
    <h4>parameters</h4>
    <table class="table doc-table-parameter">
        <tr>
            <th class="attribute"><span>Attribute</span></th>
            <th class="value"><span>Value</span></th>
            <th class="description"><span>Description</span></th>
        </tr>
        <tr>
            <td class="attribute"><span>title</span></td>
            <td class="value"><span>text</span></td>
            <td class="description">Add title/ description for the accordion</td>
        </tr>
        <tr>
            <td class="attribute"><span>content</span></td>
            <td class="value"><span>text</span></td>
            <td class="description">Add full text description or information</td>
        </tr>
    </table>
    <h4>sample</h4>
    <pre class="prettyprint linenums">[pacs_accordion]<br><br>[pacs_accordion_item title="Cleanroom Apparels / Fabric / Shoes"]<br>&lt;ol&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;Cleanroom Apparels&lt;/li&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;Shoes and Booties / safety shoe&lt;/li&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;Univet Goggle sds sd sd sdsd s(611 / 619)&lt;/li&gt;<br>&lt;/ol&gt;<br>[pacs_spacer]<br>We specialize in customized cleanroom garment designs based on customers' needs and requirement using our cutting-edge knowhow in the production of proper cleanroom garments.<br>&lt;a class="ico-link floatr" title="Cleanroom Apparels / Fabric / Shoes" href="http://www.pacs.com/product-services/cleanroom-apparels-fabric-shoes/"&gt;Read More&lt;/a&gt;<br>[/pacs_accordion_item]<br><br>[pacs_accordion_item title="Cleanroom Cleaning Equipment"]<br>&lt;ol&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;Edgeless mopping system: EL mop – Original / Textured / Long&lt;/li&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;VertiKlean wall washing system: VK/MVK/LVK mop and Sox&lt;/li&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;EasyCurve&lt;/li&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;EasySat Bucketless floor mop&lt;/li&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;QuickTask&lt;/li&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;Bucket&lt;/li&gt;<br>&lt;/ol&gt;<br>[pacs_spacer]<br>Whether disinfecting or cleaning floors, walls, ceilings or inside bio-safety cabinets and isolators, PACS has a mop or cleaning tool that meets the demanding requirements of today's high-tech industries. Many of our mops are available validated sterile for use in aseptic environments. Mop hardware and bucket systems are fully autoclavable, unless otherwise noted. We also offer a selection of mops and buckets for customers with limited storage space.<br>&lt;a class="ico-link floatr" title="Cleanroom Cleaning Equipment" href="http://www.pacs.com/product-services/cleanroom-cleaning-equipment/"&gt;Read More&lt;/a&gt;<br>[/pacs_accordion_item]<br><br>[pacs_accordion_item title="Cleanroom Disinfectants"] Lorem ipsum dolor sit amet. [/pacs_accordion_item]<br><br>[pacs_accordion_item title="Cleanroom Consumables"] Lorem ipsum dolor sit amet. [/pacs_accordion_item]<br><br>[pacs_accordion_item title="Sterile Products"] Lorem ipsum dolor sit amet. [/pacs_accordion_item]<br><br>[pacs_accordion_item title="Cleanroom Equipment / Furniture"] Lorem ipsum dolor sit amet. [/pacs_accordion_item]<br><br>[pacs_accordion_item title="Test Kits and Training Aids"] Lorem ipsum dolor sit amet. [/pacs_accordion_item]<br><br>[pacs_accordion_item title="Products for USP 797"] Lorem ipsum dolor sit amet. [/pacs_accordion_item]<br><br>[/pacs_accordion]</pre>
    <hr><br>
</div>