<div class="group">
    <table class="doc-table-shortcode">
        <tr>
            <td rowspan="2"><h3>Generic horizontal line</h3></td>
            <td><span>Type</span></td>
            <td><span>Description</span></td>
        </tr>
        <tr>
            <td><em>Non-enclosed content</em></td>
            <td><em>This shortcode creates a light blue horizontal line via the "hr" tag.</em></td>
        </tr>
    </table>
    <br>
    <h4>shortcode</h4>
    <pre class="prettyprint linenums">[pacs_line]</pre>
    <h4>parameters</h4>
    <pre>none</pre>
    <h4>sample</h4>
    <pre>refer to given shortcode structure</pre>
    <hr><br>
</div>