<div class="group">
    <table class="doc-table-shortcode">
        <tr>
            <td rowspan="2"><h3>White Border for Image</h3></td>
            <td><span>Type</span></td>
            <td><span>Description</span></td>
        </tr>
        <tr>
            <td><em>Enclosed Content</em></td>
            <td><em>This shortcode adds a white border around an image.</em></td>
        </tr>
    </table>
    <br>
    <h4>shortcode</h4>
    <pre class="prettyprint linenums">[pacs_img_border] content [/pacs_img_border]</pre>
    <h4>parameters</h4>
    <table class="table doc-table-parameter">
        <tr>
            <th class="attribute"><span>Attribute</span></th>
            <th class="value"><span>Value</span></th>
            <th class="description"><span>Description</span></th>
        </tr>
        <tr>
            <td class="attribute"><span>content</span></td>
            <td class="value"><span>img tag</span></td>
            <td class="description">Add the image tag from the Visual Editor or using the Add Media button.</td>
        </tr>
    </table>
    <h4>sample</h4>
    <pre class="prettyprint linenums"><code class="html">[pacs_img_border]<br>&lt;img class="size-full wp-image-101" src="http://www.pacs.com/wp-content/uploads/2014/08/untitled-101.jpg" alt="caption one" width="300" height="100" /&gt; <br>[/pacs_img_border]</code></pre>
    <hr><br>
</div>