<div id="doc-sidecontent-wrp">
    <div id="doc-body-wrp">
        <div id="doc-body">

            {{> doc_documentation_cover ~}}
            {{> doc_shortcodes ~}}
            {{> doc_style_css ~}}
            {{!-- {{> doc_caroufredsel ~}}
            {{> doc_visitor_counter ~}}
            {{> doc_theme_options ~}}
            {{> doc_others ~}} --}}
            {{> doc_source_and_credit ~}}
        </div>
    </div>
</div>