<section id="documentation_source_and_credits">
    <div class="page-header">
        <h2>Source and Credits</h2>
        <hr>
    </div>
    {{#if doc.showSource }}
        <div>
             Below are the important plugins used to build this CMS. Credit goes to them as well as they have provided this softwares as open source and free for modification.
        </div>
        <br>
        <ul class="normal">
            <li>Redux Framework</li>
            <li>CarouFredSel (Paid)</li>
            <li>Contact Form 7</li>
            <li>Display Widgets</li>
        </ul>
        <br>
    {{/if}}
    <div>
        {{{ doc.footnote.credits }}}
    </div>
    <br>
    <div>
         Regards,
    </div>
    <div>
         Rich Codesign Team
    </div>
</section>