<section id="documentation_caroufredsel">
    <div class="page-header">
        <h2>CarouFredSel</h2>
        <hr>
    </div>
    <div>
        <p>
            CarouFredSel comes with an easy to manage gallery that has plenty of options and configuration. For this system, we have built a custom configuration that is enabled in the Photo Gallery page.</p>
        <p></p>
        <p>
            To create new carousel gallery, its recommended to make an exact copy of the advance configuration and populate the gallery. The below screenshot shows the custom configuration we have built into the system.
        </p>
        <img src="images/carousel-setting.gif" width="888" height="1883" alt="">
    </div>
    <br>
    <div>

    </div>
</section>