<section id="documentation_theme_options">
    <div class="page-header">
        <h2>PACS Options</h2>
        <hr>
    </div>
    <div>
        <p>The page options in PACS CMS is made self explanatory, please visit "PACS Options" menu in the CMS back-end as each field contains description of the data it stores.</p>
    </div>
    <br>
</section>