<section id="documentation_others">
    <div class="page-header">
        <h2>Others</h2>
        <hr>
    </div>
    <div>
        <p>Details on other parts of the system usage will be detailed during training as this documentation will not suffice for elaboration. The following table shows a list of things that will be explained during the training.</p>
        <p></p>
        <table class="table">
            <tr>
                <th>Training Module</th>
            </tr>
            <tr>
                <td>Managing Pages and Media</td>
            </tr>
            <tr>
                <td>Managing Testimonials</td>
            </tr>
            <tr>
                <td>Managing Certificates</td>
            </tr>
            <tr>
                <td>Understanding how Contact Form works</td>
            </tr>
            <tr>
                <td>Managing Menus and Breadcrumb Navigation</td>
            </tr>
            <tr>
                <td>Managing Widget</td>
            </tr>
            <tr>
                <td>Creating Users &amp; assigning Roles</td>
            </tr>
        </table>
    </div>
    <br>
</section>