// #wrap adds useful namespace that is easy to remember, and is organized
#wrap {
    .default(@position:relative, @display:block) {
        position:@position;
        display:@display;
    }
    .void() {
        margin:0;
        padding:0;
        border:0;
    }
    .vrelative(@display:block) {
        .default(relative, @display);
        .void();
    }
    .vabsolute(@display:block) {
        .default(absolute, @display);
        .void();
    }
}

.oilpaper(@filename:"index.png") {
    @path:"../_/project-psd-source/oilpaper/";
    @file:@filename;
    @url:"@{path}@{file}";
    background: transparent url(@url) no-repeat center 0 scroll;
}

// 1) extend can be used to reduce css file size by copying all of the properties into a selector
// 2) you must DECLARE CSS RULE if calling directly to use in extend,
// 3) we know a mixin function does not immediately DECLARE CSS RULE, sadly if called directly into extend it wont work
// Reference: http://lesscss.org/features/#extend-feature-reducing-css-size;
// 4) On the contrary, you can have mixins inside your DECLARED RULE (workaround)
.reset  { #wrap > .vrelative(); }
.center { margin: 0px auto; }

.clear  { clear:both; }
.show   { display:block !important; }
.hide   { display:none; }
.bg-off { background:none; }
.floatl { float:left; }
.floatr { float:right; }

// USE BACK TEXT-"ALIGNMENT" IN BOOTSTRAP TYPE.LESS. FYI it comes without"display:block;"" property

// LESS: Referencing parent selectors with &
// use align"direction" as its common in wordpress as well
img
{
    &.alignleft
    {
        &:extend(.show);
        &:extend(.floatl);
    }
    &.alignright
    {
        &:extend(.show);
        &:extend(.floatr);
    }
    &.aligncenter
    {
        &:extend(.show);
        margin: 0px auto;
    }
}

// Changing selector order
// Reference: http://lesscss.org/features/#parent-selectors-feature-changing-selector-order
.plain {
    ul&
    {
        list-style:none;
        #wrap > .void();
    }
    ol&
    {
        &:extend(ul.plain); // Extending nested Selectors - http://lesscss.org/features/#extend-feature-extending-nested-selectors
    }
}
ul.plain-menu
{
    &:extend(ul.plain);
    li
    {
        &:extend(.reset);
        display:inline-block;
        width:auto;
        height:auto;
        padding:3px 10px;

        &:before
        {
            &:extend(.reset);
            position:absolute;
            display:inline-block;
            content:"|";
            top:2px;
            right:-5px;
        }

        *
        {
            font-size:inherit;
        }
    }
    li:last-child
    {
        &:before
        {
            display:none;
        }
    }
}

// http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block; /* divs work like text when displayed as inline-block */
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.space
{
    &-top
    {
        margin-top:20px;
    }
    &-right
    {
        margin-right:20px;
    }
    &-bottom
    {
        margin-bottom:20px;
    }
    &-left
    {
        margin-left:20px;
    }
}

//pending: form-mixin //list-mixin
